*.md

# dependencies
node_modules
yarn.lock

# production
dist

# 3rd party
# https://github.com/killhellokitty/stash-material-ize-theme/blob/main/stash-theme.css
plugins/themeSwitch/assets/themes/materialize
