.popover {
  background-color: var(--primary-2);
  border-radius: 12px;

  .image-thumbnail {
    border-radius: 4px;
  }

  .arrow::after,
  .arrow::before {
    border-bottom-color: var(--primary-2);
    border-top-color: var(--primary-2);
  }
}
