.card {
  border-radius: unset;
  background-color: none;
  background: none;
  box-shadow: none;
  border: none;

  margin: 8px;

  border-radius: 10px;

  a .card-section-title {
    color: unset;
    text-decoration: none;
    font-size: var(--text-lg);
  }

  .card-controls {
    align-items: center;
    display: flex;
    left: 0.5rem;

    position: absolute;
    top: 0.7rem;
    z-index: 20;
  }

  .card-check,
  .card-drag-handle {
    height: 1.2rem;
    opacity: 0;
    width: 1.2rem;
  }

  &:hover,
  &:active {
    .thumbnail-section {
      .progress-bar,
      .rating-banner,
      .scene-spec-overlay,
      .studio-overlay {
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
      }
    }
  }

  .thumbnail-section {
    border-radius: 12px;
    overflow: hidden;
  }

  a.tag-card-header {
    img {
      border-radius: 12px;
      overflow: hidden;
      width: unset;
    }
  }

  .scene-card-preview {
    margin-bottom: 0;
  }

  .studio-overlay,
  .rating-banner,
  .overlay-resolution,
  .overlay-duration {
    height: auto;

    background-color: var(--black-a7);
    backdrop-filter: blur(10px);
    color: var(--primary-12);
    opacity: unset;

    border-radius: 8px;
    margin: 6px;
    padding: 6px 8px;

    line-height: 1;
    font-size: var(--text-2xs);
    font-weight: normal;
    letter-spacing: 0.05ch;
  }

  .studio-overlay {
    --image-size: 4rem;
    right: 0;
    top: 0;

    height: unset;
    transition: opacity 0.5s;

    a {
      display: block;
      text-transform: uppercase;
      color: inherit;
      text-shadow: none;
      text-decoration: none;
      letter-spacing: inherit;

      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }

    a:has(> img) {
      display: block;
      line-height: 0;
      padding: 0;

      img {
        margin: 0.1rem;
        height: auto;
        max-height: var(--image-size);
        min-height: unset;

        width: 100%;
        max-width: var(--image-size);
        min-width: unset;

        object-fit: contain;
        object-position: center;
      }
    }
  }

  .rating-banner {
    transform: none;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 0.5px;
    background-color: unset;

    &.rating-5 {
      background-color: transparent;
      background-image: linear-gradient(
        to right,
        var(--rating-5-background),
        rgba(102, 136, 70, 0.75)
      );
      border-color: rgba(153, 204, 105, 0.25);
    }

    &.rating-4 {
      background-color: transparent;
      background-image: linear-gradient(
        to right,
        var(--rating-4-background),
        rgba(134, 106, 0, 0.75)
      );
      border-color: rgba(201, 159, 0, 0.25);
    }

    &.rating-3 {
      background-color: transparent;
      background-image: linear-gradient(
        to right,
        var(--rating-3-background),
        rgba(154, 96, 0, 0.75)
      );
      border-color: rgba(231, 144, 0, 0.25);
    }

    &.rating-2 {
      background-color: transparent;
      background-image: linear-gradient(
        to right,
        var(--rating-2-background),
        rgba(172, 80, 0, 0.75)
      );
      border-color: rgba(255, 120, 0, 0.25);
    }

    &.rating-1 {
      background-color: transparent;
      background-image: linear-gradient(
        to right,
        var(--rating-1-background),
        rgba(188, 56, 44, 0.75)
      );
      border-color: rgba(255, 84, 66, 0.25);
    }
  }

  .scene-specs-overlay {
    left: 0;
    right: 0;
    bottom: 0;

    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }

  .preview-scrubber {
    .hover-scrubber {
      .hover-scrubber-indicator {
        background-color: unset;
        .hover-scrubber-indicator-marker {
          background-color: var(--primary-a10);
        }
      }
    }
  }

  .progress-bar {
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: unset;

    .progress-indicator {
      height: 100%;
      background-color: var(--primary-a10);
      backdrop-filter: blur(10px);
      border-radius: 0 4px 0 0;
    }
  }

  .card-section {
    margin-bottom: 0;
    padding: 1rem 0.75rem 0 0.75rem;
    .card-section-title {
      font-size: var(--text-base);
      color: var(--primary-12);
    }

    .scene-card__details,
    .studio-card__details,
    .tag-parent-tags,
    .scene-marker-card__details,
    .tag-sub-tags,
    .tag-description {
      min-height: 0;
      margin-bottom: 0;
      height: auto;

      font-size: var(--text-xs);
      color: var(--primary-11);
      line-height: 1.5;

      .scene-card__description {
        display: none;
      }
    }
  }

  hr {
    margin-top: 0;
    display: none;
  }

  .card-popovers {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 10px;

    .btn {
      padding-bottom: 3px;
      padding-top: 3px;
      color: var(--primary-11);
      font-size: var(--text-xs);
    }
  }
}

.scene-table {
  table {
    border-collapse: separate;
    border-spacing: 0px 20px;

    thead {
      background-color: unset;

      tr {
        th {
          font-size: var(--text-sm) !important;
          font-weight: normal !important;
          color: var(--primary-11);
          text-align: left !important;
        }
      }

      & > tr:nth-child(2) {
        display: none;
      }
    }

    tbody {
      background-color: unset;

      tr {
        &:hover {
          background-color: var(--primary-2);
        }

        td {
          vertical-align: top !important;
        }

        td,
        td a {
          background-color: unset !important;
          font-size: var(--text-base) !important;
          font-weight: normal !important;
        }

        .cover_image-data {
          a {
            .image-thumbnail {
              border-radius: 4px;
            }
          }
        }

        .title-data a {
          width: 20ch;
          font-size: var(--text-base);
          font-weight: normal;
          color: var(--primary-12);
          max-height: 100px;
          overflow: hidden;
          display: block;
          text-overflow: ellipsis;

          span {
            white-space: wrap;
            max-width: unset;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
