/* reset row */

.row {
  margin-left: unset !important;
  margin-right: unset !important;
  /* width: 100%; */
}

/* generic  */
.hover-popover-content {
  max-width: 32rem;
  text-align: center;
  padding: 1rem;
}

.three-state-checkbox {
  align-items: center;
  display: flex;

  button.btn {
    font-size: 12.67px;
    margin-left: -0.2em;
    margin-right: 0.25rem;
    padding: 0;

    &:not(:disabled):active,
    &:not(:disabled):active:focus,
    &:not(:disabled):hover,
    &:not(:disabled):not(:hover) {
      background-color: initial;
      box-shadow: none;
    }
  }

  &.unset {
    .label {
      color: #bfccd6;
      text-decoration: line-through;
    }
  }

  &.checked svg {
    color: #0f9960;
  }

  &.not-checked svg {
    color: #db3737;
  }
}

.stash-id-pill {
  display: inline-block;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  padding-bottom: 0;
  padding-top: 0;
  text-align: unset;
  vertical-align: baseline;
  white-space: nowrap;

  text-overflow: ellipsis;
  overflow-x: hidden;

  span,
  a {
    display: inline-block;
    padding: 0;
  }

  span {
    background-color: unset;
    border-radius: 0;
    min-width: 0;
    margin-right: 1ch;
  }

  a {
    background-color: unset;
    border-radius: 0;
    color: var(--primary-11);
  }
}

/* studio screen */

.detail-header {
  background-color: unset;
}

/* filters */

.paginationIndex {
  font-size: var(--text-xs);
}

/* tags */

.tag-item {
  background-color: var(--black-a7);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 6px 10px;

  color: var(--primary-12);
  font-size: var(--text-2xs);
  font-family: unset;
  font-weight: 500;

  .btn-secondary {
    color: var(--primary-12);
    opacity: 1;
  }
}

.badge-secondary {
  background-color: var(--primary-5);
  color: inherit !important;
  font-weight: inherit !important;
}

.badge-pill {
  padding: 0.25rem 0.6rem;
}
