.detail-body {
  .nav {
    margin-bottom: 24px;
    margin-top: 32px;
    row-gap: 8px;
    column-gap: 8px;

    display: flex;
    justify-content: space-around;

    .nav-link {
      text-align: center;
      color: var(--primary-11) !important;
      background-color: unset;
      padding: 12px 16px;
      border: 0 !important;
      border-radius: 8px !important;
      line-height: 1;
      transition: all 0.2s ease-in-out;
      white-space: nowrap;

      &:hover {
        background-color: var(--primary-4) !important;
        color: var(--primary-12) !important;
      }

      &.active {
        background-color: var(--primary-2) !important;
        color: var(--primary-12) !important;
        font-weight: 600;
      }
    }
  }
}
