:root {
  --bgcol: #101118;
  --searchbgcol: #1b1c28;
  --btnbordercol: #202b33;
  --secbtncol: #171822;
  --btnaccentcol: #cfad0b;
  --cardbgcol: #1f282c;
  --navbarcol: #212529;
}

body {
  background-color: var(--bgcol);
}

.bg-secondary {
  background-color: var(--searchbgcol) !important;
}

.pagination .btn:first-child {
  border-left: 1px solid var(--btnbordercol);
}
.pagination .btn:last-child {
  border-right: 1px solid var(--btnbordercol);
}

.btn-secondary {
  border-color: var(--btnbordercol);
  background-color: var(--bgcol);
}

.btn-secondary:disabled {
  border-color: var(--btnbordercol);
  background-color: var(--secbtncol);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  background-color: var(--secbtncol);
  border: 1px solid var(--btnbordercol);
  color: var(--btnaccentcol);
  border-bottom: 3px solid var(--btnaccentcol);
}

.card {
  background-color: var(--cardbgcol);
  border-radius: 30px;
}

.progress-indicator {
  background-color: var(--btnaccentcol);
}

.bg-dark {
  background-color: var(--navbarcol) !important;
}

.btn.active:not(.disabled),
.btn.active.minimal:not(.disabled) {
  background-color: transparent;
  color: var(--btnaccentcol);
  border-bottom: 3px solid var(--btnaccentcol);
}

.btn-primary {
  background-color: var(--btnaccentcol);
  border-color: var(--btnaccentcol);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: transparent;
  border-color: var(--btnaccentcol);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0;
}

.btn-primary:focus,
.btn-primary.focus {
  background-color: var(--btnaccentcol);
  border-color: var(--btnaccentcol);
  box-shadow: 0 0 0 0;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--btnaccentcol);
  border-color: var(--btnaccentcol);
}

div.react-select__menu,
div.dropdown-menu {
  background-color: var(--bgcol);
  color: #f5f8fa;
  z-index: 1600;
}

.modal-header,
.modal-body,
.modal-footer {
  background-color: var(--bgcol);
  color: #f5f8fa;
}

.edit-filter-dialog .criterion-list .card .filter-item-header:focus {
  border-color: var(--btnaccentcol);
  border-radius: calc(0.375rem - 1px);
  box-shadow: inset 0 0 0 0.1rem var(--btnaccentcol);
  outline: 0;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid;
  color: var(--btnaccentcol);
}

.nav-tabs .nav-link.active:hover {
  border-bottom-color: var(--btnaccentcol);
  cursor: default;
}

.job-table.card {
  background-color: var(--bgcol);
  height: 10em;
  margin-bottom: 30px;
  overflow-y: auto;
  padding: 0.5rem 15px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: var(--btnaccentcol);
  transition: width 0.6s ease;
}

.grid-card .progress-bar {
  background-color: rgba(115, 133, 159, 0.5);
  bottom: 5px;
  display: block;
  height: 5px;
  position: absolute;
  width: 100%;
}

.grid-card .progress-indicator {
  background-color: var(--btnaccentcol);
  height: 5px;
}

.hover-scrubber .hover-scrubber-indicator .hover-scrubber-indicator-marker {
  background-color: var(--btnaccentcol);
  bottom: 0;
  height: 5px;
  position: absolute;
}

#tasks-panel .tasks-panel-queue {
  background-color: var(--bgcol);
  margin-top: -1rem;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  position: sticky;
  top: 3rem;
  z-index: 2;
}

#scene-edit-details .edit-buttons-container {
  background-color: var(--bgcol);
  position: sticky;
  top: 0;
  z-index: 3;
}
